.nav{
    margin: 20px;
    background-color: gray;
}

body
{
    background-image:url('/src/img/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 1200px;
    max-width: 100%;
    height: auto;
    
}
.img
{
    width: 180px;
    height: 180px;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    min-height: 900px;
}
.item
{  
    flex-grow: 0;
    flex-basis: 0;
    flex-shrink: 0;
    min-width: 24%;
    margin: 2px;
    max-height: 400px;
}
@media(max-width:1200px)
{
    .item{
        min-width: 49%;
        margin: 2px;
    }
}
@media(max-width:500px)
{
    .item{
        flex-grow: 1;
    }
}

.form-control
{
    margin-top: 5px;
}
.btn
{
    margin-top: 5px;
    margin-left: 5px;
}
